plugins/WorldGuard/worlds/*
plugins/ajParkour/inventories/*
paper-*.jar
plugins/ajParkour/scores.db
plugins/CoreProtect/database.db
plugins/ajParkour/positions.yml
plugins/ajParkour/storage.yml
plugins/DiscordSRV/discord-console-logs/*
plugins/InventoryRollbackPlus/backups/*
plugins/mcMMO/backup/*
plugins/LWC/lwc.db
plugins/LuckPerms/luckperms-h2-v2.mv.db
plugins/LobbyGames/player_stats.yml
plugins/LobbyGames/arenas.yml
plugins/Multiverse-Inventories/*
plugins/Multiverse-Portals/portals.yml
plugins/Multiverse-Core/worlds.yml
plugins/Multiverse-Portals/portals.yml
plugins/MyDog/dogs.yml
plugins/nCore/data/nlogin.data
plugins/nLogin/logs/*
plugins/QuickShop/cache/*
plugins/SkinsRestorer/cache/*
plugins/SkinsRestorer/skins/*
plugins/SkinsRestorer/players/*
plugins/SetSpawn/locations.yml
plugins/WorldGuard/cache/profiles.sqlite
plugins/AutomatedCrafting/autocrafters.json
plugins/DeathChest/audits/*
plugins/DiscordSRV/accounts.aof
plugins/Essentials/spawn.yml
plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin
plugins/Essentials/userdata/*
plugins/Essentials/warps/*
plugins/floodgate/key.pem
plugins/Jobs/jobs.sqlite.db
plugins/mcMMO/flatfile/mcmmo.users
plugins/nCore/data/nlogin.data
plugins/nLogin/nlogin.db
plugins/nLogin/backup/*
plugins/QuickShop/shops.db
plugins/SetSpawn/locations.yml
plugins/TargetPractice/stats.db
plugins/WorldGuard/cache/*